version: "3.8"

services:
  frontend:
    build: ./frontend
    container_name: synapse_frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: synapse_backend
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=production
    restart: always
